.subtitle.is-custom {
  font-size: 12px;
}

.subtitle.is-custom-margin {
  margin-bottom: 0;
  padding-bottom: 0;
}

.title.is-margin {
  padding-bottom: 10px;
}

.hover:hover {
  opacity: 0.7;
}

.hover {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.art__image {
  width: fit-content;
  object-fit: cover;
  border-radius: 2%;
  padding: .15rem
}

.art__piececard {
  background-color: white;
  border: 1px dotted black;
}

.art__container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  padding: 0px 50px 0px 50px;
  margin: 20px;
  border-radius: 3px;
  justify-content: space-between;
}
.art__page_header {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  padding: 0px 50px 0px 50px;
  margin: 20px;
  border-radius: 3px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(199, 199, 199);
}
