.subtitle.is-custom {
  font-size: 12px;
}

.subtitle.is-custom-margin {
  margin-bottom: 0;
  padding-bottom: 0;
}

.title.is-margin {
  padding-bottom: 10px;
}

.hover:hover {
  opacity: 0.7;
}

.hover {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.art__image {
  position: relative;
  width: fit-content;
  height: 400px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 244, 244));
  overflow: hidden;
  padding: .15rem
}

.art__piececard {
  background-color: white;
}

.art__container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  width: auto
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.piece_subtitle {
  width: 350px;
  /* padding: 20px; */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}