@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  margin: 0;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Playfair Display", source-code-pro, serif;
}

/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';
a {
  color: #309875;
}
a:hover { text-decoration: none; color:lightgray; }

body {
  margin: 0;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    background-color: #131313;
    color: #cccccc;
}

.subtitle.is-small {
  font-size: 1rem;
  color: #cccccc; 
}

.navbar-item, .navbar-link { 
  color: #309875;
  padding-left: 10px; 
  background-color: #FB9970;
}

.title{
  color: #cccccc
}

.subtitle{
  color: lightgray
}

.label{
  color: #309875;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #FB9970;
  color: #6295AA;
}

input, textarea {
  font-family: "Playfair Display";
}

.bottom-border {
  border-bottom: .5px solid rgb(129, 129, 129);
}

.bottom-border-light {
  border-bottom: .5px solid rgb(129, 129, 129);
}
