.navbar { 
    color: #FB9970; 
    background-color: #FB9970;
 }
 
 .navbar-menu img {
    max-height: 3rem;
    color: #000000; 
    background-color: #FB9970;
 }
 
 .navbar-brand, .navbar-item, .navbar-burger, .navbar-menu { 
    font-size: 15px;
    background-color: #FB9970;
 }
 
 .navbar-item, .navbar-link { 
    color: #000000;
    background-color: #FB9970;
    padding: 0px; 
 }
 
 .navbar-item, .navbar-menu.is-active  { 
    background-color: #FB9970; 
 }
 
 .navbar-end { 
    padding-right: 75px; 
 }
 
 .navbar-burger { 
    margin-right: 25px; 
 }
 
 .padding { 
    padding: 45px 10px; 
    color: #575757;
 }
 
 .rareHeader { 
    color: #343434;
    font-weight: bolder; 
    font-size: 25px; 
    margin-left: 25px; 
 }
 